@import url(https://fonts.googleapis.com/css?family=Open+Sans|Poppins);
// 2. Set your own initial variables
// Update blue
$ultraviolet: #654EA3;
$darkGrey: #414549;
$mediumpurple:#654EA3;
$blue:#2D9CDB;
$greyPurple: #E5E5E5;
// Add a serif family
$family-serif: "Poppins", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $ultraviolet;
$blue: #1976D2;
$primary-invert: white;
// Use the new serif family
$family-primary: $family-serif;

$modal-background-background-color: white;
/* You can add global styles to this file, and also import other style files */
// 1. Import the initial variables

@import "~bulma";
@import "~bulma-calendar";

.auth-page-left-container {
  background-color: $primary;
  color: white;
}

.kowalski-primarily-colored {
  color: $primary;
}

.kowalski-back-panel {
  background-color: $primary;
  color: $primary-invert;

  a, a:hover {
    color: $primary-invert;
  }

  a:hover {
    background-color: $primary;
  }
}

.button, .input {
  border-radius: 0px
}

html, body, #app {
  height: 100%;
  width: 100%;
}

.kowalski-react-basic-container {
  display: flex;
  flex-grow: 1;
}

.kowalski-react-basic-container-vertical {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

h1{
  font-size: 2.875rem;
  font-family: $family-primary;
}

h2{
  font-size: 2.25rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.375rem;
}

h5{
  font-size: 1.125rem;
}

h6{
  font-size:1em;
}
p{
  font-size: 1rem;
}

.select {
  width: 100%;
}

select {
  border-radius: 0 !important;
  width: 100%;
}

.logHourAnchor {
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 130%;
  text-align: center;
  opacity: 0.5;
  z-index: 1;

  &:hover {
    font-size: 100px;
  }
}
